@import "stylesheet";
$color-black: rgba(51,51,51,1);
$color-n: rgba(130,73,234,1);
$color-white: rgba(255,255,255,1);
$color-xa: rgba(236,236,236,1);
$color-blue: rgba(107,97,241,1);
$color-pink: rgba(229,53,171,1);
$color-gray: rgba(60,60,60,1);
$color-xa: rgba(248,248,248,1);
$color-grxa: rgba(153,153,153,1);
$color-gren: rgba(17,43,73,1);
$color-whitem: rgba(220,220,220,1);

body{
  font-family: 'Roboto';
  color: $color-black;
  font-size: 14px;
}
header{
  background-image: url("img/imageshow.jpg");
  background-size: cover;
  width: 100%;
}
.container{
  max-width: 1000px;
  margin: 0px auto;
  padding: 0 10px;
}
nav{
  color: $color-white;
  display: flex;
  padding-top: 40px;
}
.navbar-logo{
  flex: 0 0 10%;
}
.navbar-img{
  display: flex;
  align-items: center;
  img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
  p{
    font-size: 140%;
  }
}
.sidenav{
  flex: 1;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  a{
    text-transform: uppercase;
    color: $color-white;
    text-decoration: none;
    margin: 0 15px;
    letter-spacing: 2px;
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
    &.bor{
      border-bottom: 1px solid $color-white;
    }
  }
}
.navbar-btn{
  flex: 0 0 10%;
  text-align: center;
  .btn-get{
    border: 1px solid $color-xa;
    padding: 8px 0;
    border-radius: 20px;
    font-size: 80%;
  }
}
.top{
  text-align: center;
  margin-top: 25%;
  padding-bottom: 17%;
  color: $color-white;
  img{
    height: 100%;
  }
  h1{
    font-size: 500%;
    font-weight: bold;
    font-family: 'Roboto Th';
    letter-spacing: 3px;
  }
  h2{
    font-size: 200%;
    font-weight: 400;
  }
  p{
    max-width: 350px;
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    line-height: 25px;
    margin: 15px auto;
    font-size: 115%;
    color: $color-xa;
    &:last-child{
      font-family: 'Roboto';
      font-weight: normal;
      font-size: 90%;
    }
  }
}
.btn-reg{
  background: $color-blue;
  max-width: 200px;
  margin: 0px auto;
  color: $color-white;
  border-radius: 4px;
  padding: 15px 0px;
  a{
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-style: normal;
    color: $color-white;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
}
.barmenu{
  background: $color-black;
}
.bar-content{
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  position: relative;
}
.sidenav{
  &.sd{
  flex: 0 0 70%;
  align-items: center;
  text-align: left;
  justify-content: left;
    a{
      font-family: 'Source Code Pro', monospace;
      text-transform: uppercase;
      color: $color-white;
      text-decoration: none;
      letter-spacing: 1px;
      border: none;
      font-size: 100%;
      &.b{
        padding-left: 0;
        margin-left: 0;
        padding: 0;
      }
    }
  }
}
.barmenu-th{
  flex: 0 0 30%;
  text-align: right;

}
.barmenu-th-fm{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p{
    width: 35px;
    height: 35px;
    border: 1px solid $color-white;
    border-radius: 100%;
    margin: 0px 10px;
    color: $color-white;
    text-align: center;
  }
  i{
    margin: 28%;
  }
}
.sd-col6{
  display: flex;
  padding: 20px 0;
  p{
    flex: 0 0 60%;
  }
}
.sd-cont{
  flex: 1;
  padding: 30px 0px;
  p{
    font-family: 'Roboto Th';
    max-width: 400px;
    width: 100%;
    font-size: 180%;
    color: $color-pink;
    line-height: 35px;
    font-weight: bold;
    letter-spacing: 1px;
  }

}
.sd-coten{
  flex: 1;
  padding: 30px 0px;
  line-height: 30px;
  p{
    font-size: 120%;
  }
}
.registration{
  background: $color-xa;
}
.reg-content{
  padding: 50px 0;
  h3{
    font-family: 'Roboto th';
    font-size: 280%;
    font-weight: bold;
    padding: 12px 0px;
  }
  p{
    max-width: 680px;
    width: 100%;
    font-size: 120%;
    line-height: 25px;
  }

}
.col-md4{
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.col-md4-ft{
  flex: 0 0 31%;
	border: 1.5px solid transparent;
	-moz-border-image: -moz-linear-gradient(top, $color-pink 0%,   $color-n 100%);
	-webkit-border-image: -webkit-linear-gradient(top, $color-pink 0%, $color-n 100%);
	border-image: linear-gradient(to bottom, $color-pink 0%, $color-n 100%);
	border-image-slice: 1;
  &.center{
    margin: 0 20px;
  }
}
.col-md4-content{
  text-align: center;
  margin: 25px 0;
  h4{
    padding: 30px 0;
    font-size: 100%;
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .md-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  h3{
    padding: 15% 0 10% 0;
    width: 100%;
  }
  p{
    padding: 0px;
    color: $color-grxa;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 90%;

  }
}
.speakers{
  padding: 30px 0;

}
.bar-avatar{
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
figure{
  flex: 0 0 15%;
  text-align: center;
  margin: 0 5px;
  figcaption{
    width:100%;
    padding: 5px 0;
    font-family: 'Roboto Lt';
    font-size: 120%;
    &:last-child{
      color: $color-grxa;
      font-family: 'Roboto';
      font-size: 100%;
    }
  }
}
.circle{
  width: 120px;
  height: 120px;
  border: 1px solid $color-xa;
  border-radius: 100%;
  margin: 10px auto;
  overflow: hidden;
}
.content-th{
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border: 1px solid $color-xa;
}
.content-th-text{
  flex:0 0 68%;
  width: 100%;
  padding: 0;
  p{
    font-size: 100%;
  }
}
.btnsign{
  flex: 0 0 25%;
  padding: 10px;
  border: 1px solid $color-pink;
  text-align: center;
  border-radius: 3px;
  p{
    color: $color-pink;
    letter-spacing: 3px;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.col-md3{
  display: flex;
  margin: 20px 0;
}
.col-md3-sd{
  flex: 1;
  margin: 0 10px;
  &:first-child{
    margin-left: 0px;
  }
  h4{
    font-family: 'Roboto Lt';
    font-size: 200%;
    padding-bottom: 20px;
    font-weight: 200;
  }
  &.th{
    p:last-child{
      color: $color-pink;
      padding-top: 5px;
    }
    i{
      font-size: 80%;
    }
  }
  &.ht{
    p{
    color: $color-pink;
    padding: 4px 0;
    }
  }
}
.content{
  flex: 1;
}
.reg-btn{
  flex: 0 0 200px;
  text-align: center;
  align-self: center;
}
footer{
  padding: 15px;
  background: $color-gren;
  p{
    text-align: center;
    color: $color-whitem;
    font-size: 90%;
  }
  i{
    color: $color-pink;
  }
}
.closebtn{
  display: none;
}
.icon{
  display: none;
  span{
    font-size:30px;
    cursor: pointer;
  }
}
.open{
  display: none;
}
.reg-col-md6{
  display: flex;
  width: 100%;
  figure{
    flex: 1;
  }
}
@media only screen and (max-width: 768px) {
  .container{
    width: calc(100% - 30px);
    padding: 0px 15px;
    font-size: 11px;
  }
  .icon{
    display: block;
    padding-right: 10px;
    color: $color-white;
  }
  nav{
    padding-top: 10px;
    justify-content: space-between;
  }
  .sidenav {
    display: block;
    height: 400px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: $color-pink;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    span{
      width: 100%;
    }
    a{
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 100%;
      display: block;
      transition: 0.3s;
      &:fist-child{
        padding-left: 15px;
      }
    }
    .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
    .open{
      display: block;
    }
    &.sd{
      left:0;
      top: 0;
      padding-top: 50px;
      line-height: 20px;
      text-align: center;
    }

  }
  .navbar-menu{
    display: none;
  }
  .navbar-btn{
    display: none;
  }
  .top{
    img{
      width: 80%;
      height: 80%;
      }
    h2{
      font-size: 140%;
      padding: 0;
    }
    p{
      font-size: 100%;
    }
  }
  .reg-content {
    padding: 20px 0;
  }

  .barmenu-th-fm{
    p{
      width: 25px;
      height: 25px;
    }
  }
  .sd-col6{
    display: block;
  }
  .sd-coten{
    width: 100%;

  }
  .col-md4{
    display: block;
  }
  .col-md4-ft{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    &.center{
    margin: 10px auto;
    }
  }
  .content-th{
    display: block;
    .btnsign{
      max-width: 180px;
      margin: 10px auto;
    }
  }
  .circle{
    width: 90px;
    height: 90px;
  }
  .btn-reg{
    margin-top: 20px;
  }
  figure{
    margin: 0 8%;
  }
  .col-md3{
    display: block;
    .col-md3-sd{
      flex: 1;
      margin: 10px 0px;
      border-bottom: 1px dotted $color-white;
      &:first-child{
        margin: 0 0px;
      }
      h4{
        padding: 10px 0;
      }
    }
  }
}
