body {
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
p{
  line-height: 20px;
  margin-bottom: 20px;
}
h1{
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: #444;
  font-size: 45px;
  margin-bottom: 20px;
}
h2{
  font-weight: 300;
  color: #444;
  font-size: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
h3{
  font-weight: bold;
  color: #444;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
h4{
  font-weight: bold;
  color: #444;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h5{
  font-weight: bold;
  color: #444;
  font-size: 15px;
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color: #444;
}
a:hover{
  color: #02b8dd;
}
strong{
  font-weight: bold;
}
small{
  font-size: 13px;
  color: #777;
  font-style: italic;
}
.clear{
  clear: both;
}
.wrapper{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
/* Header */

header{
  height: 120px;
}
header h1{
  float: left;
  margin-top: 32px;
}
header h1 .color{
  color: #02b8dd;
}
header nav{
  float: right;
}
header nav ul li{
  float: left;
  display: inline-block;
  margin-top: 50px;
}
header nav ul li a{
  color: #444;
  display: block;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
/* Hero image */
#hero-image{
  height: 580px;
  padding-top: 1px;
  background: #e8eced url('images/hero.jpg') no-repeat center;
}
#hero-image h2{
  margin: 180px 0 40 0;
}
.button-1{
  display: block;
  text-align: center;
  background: #444;
  border-radius: 3px;
  color: #fff;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
}
.button-1:hover{
  background-color: #02b8dd;
  color: #fff;
}
/* Featured */
#features ul{
  margin: 80px 0;
}
#features ul li{
  width: 300px;
  padding-top: 140px;
  float: left;
  margin-right: 10px;
  text-align: center;
}
#features ul li.features-1{
  background: url('images/features-icon-1.png') no-repeat top center;
}
#features ul li.features-2{
  background: url('images/features-icon-2.png') no-repeat top center;
}
#features ul li.features-3{
  background: url('images/features-icon-3.png') no-repeat top center;
}
/* primary-content */
#primary-content{
  background-color: #f8fafa;
  padding: 60px 0;
  text-align: center;
}
#primary-content h3{
  display: block;
  margin: 0 auto 20px auto;
  width: 400px;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}
#primary-content a img{
  margin: 20px 0;
}

/* Second content */
#secondary-content{
  padding: 60px 0;
  text-align: center;
}
#secondary-content article{
  width: 460px;
  height: 270px;
  float: left;
  background: #f5f5f5;
}
#secondary-content article:first-child{
  margin-right: 20px;
}
#secondary-content article .overlay{
  background: rgba(255,255,255,0.95);
  height: 230px;
  width: 190px;
  padding: 20px;
}
article h4{
  border-bottom: 1px solid #02b8dd;
  padding-bottom: 20px;
}
.more-link{
  border: 1px solid #02b8dd;
  color: #02b8dd;
  padding: 6px 20px;
  border-radius: 3px;
}
.more-link:hover{
  background-color: #02b8dd;
  color: #fff;
}
/* cta */
#cta {
  padding: 60px 0;
  text-align: center;
}
#cta h3 {
  display: block;
  margin: 0 auto 20px auto;
  width: 400px;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}
.button-2 {
  display: block;
  margin: 0 auto;
  border: 2px solid #02b8dd;
  color: #02b8dd;
  border-radius: 3px;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
}
.button-2:hover {
  background-color: #02b8dd;
  color: #fff;
}

/* Footer */
footer{
  padding: 60px 0;
  background: #f8fafa;
}
#footer-info{
  width: 380px;
  float: left;
  margin-top: 10px;
}
#footer-links{
  width: 520px;
  float: right;
}
#footer-links ul{
  width: 150px;
  float: left;
  margin-left: 20px;
}
#footer-links ul li{
  margin: 10px 0;
}
